@import "../app.scss";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/badge";
@import "../components/dropdown";

.d-reply-block {
    position: absolute;
    bottom: rem(-13);
    right: 0;
    margin: 0 auto;
    width: 100%;
}