@import "~bootstrap/scss/functions";
@import "./custom-style/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "./utilities/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/offcanvas";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import "~bootstrap/scss/utilities/api";
@import './features/font-size';
@import './features/z-index';

@import './components/waves';
@import './components/circles';

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*--------------------*\
  HEADER MENU
\*--------------------*/
.header-menu {
    display: flex;
    justify-content: space-between;
    min-height: 4.375rem;
    background-color: #0f1923;
    border-bottom: rem(1px) solid #323b45;
}

/*--------------------*\
  BUTTON
\*--------------------*/
.btn {
    background-image: none;
    box-shadow: none;

    &:hover {
        background-image: none;
        box-shadow: none;
    }
}

/*--------------------*\
  CHECKBOX
\*--------------------*/
.form-check--primary:checked {
  background-color: #7266ba;
  border-color: #7266ba;
}

.form-check--secondary:checked {
  background-color: #6c757d;
  border-color: #6c757d;
}

.form-check--success:checked {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.form-check--danger:checked {
  background-color: #f1556c;
  border-color: #f1556c;
}

.form-check--warning:checked {
  background-color: #f7b84b;
  border-color: #f7b84b;
}

.form-check--info:checked {
  background-color: #37cde6;
  border-color: #37cde6;
}

/*--------------------*\
  FLOATING LABELS
\*--------------------*/
.form-floating {
  &> label {
      padding: .375rem .625rem;
      border: none;
      color: #6c757d;
    }

  &> .form-control ~ label {
      font-size: 1rem;
    }

  &> .form-control-sm ~ label {
      font-size: .875rem;
    }

  &> .form-control-lg ~ label {
    font-size: 1.25rem
  }

  &> .form-select,
  &> .form-control {
    height: unset;
    padding: 0.25rem 0.625rem;
  }

  &> .form-control-lg {
    min-height: 100%;
  }

  &> .form-control {
        &:focus, &:not(:placeholder-shown) {
        padding-top: .25rem;
        padding-bottom: .25rem;
        }
  }

  &> .form-control:focus ~ label,
  &> .form-control:not(:placeholder-shown) ~ label,
  &> .form-select ~ label {
    top: -.125rem;
    height: 45%;
    padding: 0 .125rem;
    background: #fff;
    color: #6c757d;
    font-size: .875rem;
    font-weight: 600;
  }
}

/*--------------------*\
  FOOTER
\*--------------------*/
.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1.1875rem .9375rem 1.25rem;
    color: #98a6ad;
    background-color: #38414a;
    box-shadow: 0 0 .0625rem rgb(50 58 70 / 10%);
}