$theme: "slate" !default;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
$font-family-open-sans:  'Open Sans', sans-serif;
$font-family-base:       $font-family-open-sans;

$fa-font-path: "../../webfonts";

// Shadows

$enable-shadows:                    true;
$enable-gradients:                  true;

// Contrast Ratio

$min-contrast-ratio:                2;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #7a8288 !default;
$gray-700: #52575c !default;
$gray-800: #3a3f44 !default;
$gray-900: #272b30 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #f12c4c !default;
$orange:  #fd7e14 !default;
$yellow:  #f89406 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $gray-800 !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

$min-contrast-ratio:   1.95 !default;

// Font Size

$font-size-base: 1rem;
$font-12:        .75rem;
$font-13:        .8125rem;
$font-14:        .875rem;
$font-15:        .9375rem;
$font-16:        1rem;
$font-17:        1.0625rem;
$font-18:        1.125rem;
$font-19:        1.1875rem;
$font-20:        1.25rem;
$font-21:        1.3125rem;
$font-22:        1.375rem;
$font-23:        1.4375rem;
$font-24:        1.5rem;

$font-sizes: (
  12: $font-12,
  13: $font-13,
  14: $font-14,
  15: $font-15,
  16: $font-16,
  17: $font-17,
  18: $font-18,
  19: $font-19,
  20: $font-20,
  21: $font-21,
  22: $font-22,
  23: $font-23,
  24: $font-24
);

// Z Index
$zindex-1:        1;
$zindex-2:        2;
$zindex-3:        3;
$zindex-4:        4;
$zindex-5:        5;
$zindex-10:       10;
$zindex-50:       50;
$zindex-100:      100;
$zindex-500:      500;
$zindex-999:      999;

$zindex: (
  1: $zindex-1,
  2: $zindex-2,
  3: $zindex-3,
  4: $zindex-4,
  5: $zindex-5,
  10: $zindex-10,
  50: $zindex-50,
  100: $zindex-100,
  500: $zindex-500,
  999: $zindex-999
);


// Body

$body-bg:                   #0f1923 !default;
$body-color:                #aaa !default;

// Links

$link-color:                $white !default;

// Fonts

// Tables

$table-color:                 $white !default;
$table-accent-bg:             rgba($white, .05) !default;
$table-hover-bg:              rgba($white, .075) !default;
$table-border-color:          rgba($black, .6) !default;
$table-dark-border-color:     $table-border-color !default;
$table-dark-color:            $white !default;

$table-bg-scale:              0 !default;

// Buttons

$btn-padding-y-sm:            .3125rem;
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1rem !default;

// Forms

$input-bg:                              $white !default;
$input-disabled-bg:                     #ccc !default;

$input-color:                       $gray-900 !default;

$form-check-input-bg:                     $white !default;

// Dropdowns

$dropdown-bg:                       $gray-800 !default;
$dropdown-border-color:             rgba($black, .6) !default;
$dropdown-divider-bg:               rgba($black, .15) !default;
$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $body-bg !default;
$dropdown-link-active-color:        $dropdown-link-hover-color !default;
$dropdown-link-active-bg:           $dropdown-link-hover-bg !default;

// Navs

$nav-tabs-border-color:             rgba($black, .6) !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-padding-y:                  0 !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-hover-color:          $gray-800 !default;
$navbar-light-active-color:         $gray-800 !default;


// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     transparent !default;
$pagination-border-color:           rgba($black, .6) !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               transparent !default;
$pagination-hover-border-color:     rgba($black, .6) !default;
$pagination-active-bg:              transparent !default;
$pagination-active-border-color:    rgba($black, .6) !default;
$pagination-disabled-bg:            transparent !default;
$pagination-disabled-border-color:  rgba($black, .6) !default;

// Cards

$card-border-color:                 rgba($black, .6) !default;
$card-cap-bg:                       lighten($gray-800, 10%) !default;
$card-bg:                           lighten($body-bg, 5%) !default;

// Popovers

$popover-bg:                        lighten($body-bg, 5%) !default;

// Toasts

$toast-background-color:            lighten($body-bg, 5%) !default;
$toast-border-color:                rgba(0, 0, 0, .2) !default;
$toast-header-color:                $body-color !default;
$toast-header-background-color:     $toast-background-color !default;
$toast-header-border-color:         $toast-border-color !default;

// Modals

$modal-content-bg:                  lighten($body-bg, 5%) !default;
$modal-header-border-color:         rgba(0, 0, 0, .2) !default;

// Progress bars

$progress-bg:                       darken($gray-900, 5%) !default;
$progress-bar-color:                $gray-600 !default;

// List group

$list-group-color:                  $white !default;
$list-group-bg:                     lighten($body-bg, 5%) !default;
$list-group-border-color:           rgba($black, .6) !default;
$list-group-hover-bg:               lighten($body-bg, 10%) !default;
$list-group-active-color:           $white !default;
$list-group-active-bg:              $list-group-hover-bg !default;
$list-group-active-border-color:    $list-group-border-color !default;
$list-group-disabled-color:         $gray-700 !default;
$list-group-action-color:           $white !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-active-color:           $gray-500 !default;
$breadcrumb-border-radius:          .25rem !default;

// Code

$pre-color:                         inherit !default;